body {
    background-color: gainsboro; 
}

.parrafo{
    color: purple;
    background-color: greenyellow;

}

#parrafounico {
    color: red;

}

#cosa1 {
    width: 45vw;
    height: 88vh;
    border: 1px solid black;
    margin: 10px;
}

#cosa2 {
    width: 45vw;
    height: 88vh;
    border: 1px solid black;
}

.cuadrado{
    width: 25%;
    height: 25%;
    background-color: aqua;
    border: 1px solid black;

}